<div class="row">
  <div class="card" style="width: 18rem;">
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5e/Gothiccover.png/220px-Gothiccover.png" class="card-img-top image-responsive" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <div>
        <div class="price float-left">$12</div>
        <a href="#" class="btn btn-success float-right">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5e/Gothiccover.png/220px-Gothiccover.png" class="card-img-top image-responsive" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <div>
        <div class="price float-left">$12</div>
        <a href="#" class="btn btn-success float-right">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5e/Gothiccover.png/220px-Gothiccover.png" class="card-img-top image-responsive" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <div>
        <div class="price float-left">$12</div>
        <a href="#" class="btn btn-success float-right">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="card" style="width: 18rem;">
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5e/Gothiccover.png/220px-Gothiccover.png" class="card-img-top image-responsive" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <div>
        <div class="price float-left">$12</div>
        <a href="#" class="btn btn-success float-right">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5e/Gothiccover.png/220px-Gothiccover.png" class="card-img-top image-responsive" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <div>
        <div class="price float-left">$12</div>
        <a href="#" class="btn btn-success float-right">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5e/Gothiccover.png/220px-Gothiccover.png" class="card-img-top image-responsive" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <div>
        <div class="price float-left">$12</div>
        <a href="#" class="btn btn-success float-right">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="card" style="width: 18rem;">
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5e/Gothiccover.png/220px-Gothiccover.png" class="card-img-top image-responsive" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <div>
        <div class="price float-left">$12</div>
        <a href="#" class="btn btn-success float-right">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5e/Gothiccover.png/220px-Gothiccover.png" class="card-img-top image-responsive" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <div>
        <div class="price float-left">$12</div>
        <a href="#" class="btn btn-success float-right">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5e/Gothiccover.png/220px-Gothiccover.png" class="card-img-top image-responsive" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <div>
        <div class="price float-left">$12</div>
        <a href="#" class="btn btn-success float-right">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
