{{# each products }}
  <div class="row">
    {{# each this}}
      <div class="card" style="width: 18rem;">
        <img src={{ this.image_path }} class="card-img-top image-responsive" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ this.title }}</h5>
          <p class="card-text description">{{ this.description }}</p>
          <div>
            <div class="price float-left">${{ this.price }}</div>
            <a href="#" class="btn btn-success float-right">Buy now!</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
{{/each}}

